#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: url('../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg') center/cover no-repeat; /* Shorthand for background properties */
  font-family: "Viaoda Libre", serif;
}

.title{
font-size: 100px;
margin-bottom: 0%;
margin-top: 0%;
position: sticky;
}

.textContent{
  font-size: 20px;
}

ul {
  list-style-type: none; /* Remove default list styling */
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  
}

li {
  display: inline; /* Display list items inline */
  padding: 5px;
}

.profileImg{
  max-width: 20%;
}
.projectImgs{
  max-width: 90%;
  padding: 10%;
}

.highlighted {
  font-weight: bold;
  color: rgb(237, 237, 247);
}
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px; 
  text-align: center;
}

.projectContainers{
  text-align: center;
}  */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
border: gray 5px 5px 5px ;
}

.footerIcon{
margin-left: 10%;
margin-right: 10%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer{
  /* margin-top: auto; */
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:70px; 

}